# namespace is the namespace to install the hiphops deployment in
namespace: hiphops

# hiphops is the container for hiphops-specific config
hiphops:
  # imageVersion is the version of the hiphops/hiphops Docker image used by the deployment
  imageVersion: v0.16.1
  # automationsPath is the path to the automations you wish to deploy. Note, this path has to be inside the helm chart.
  automationsPath: "automations"
  # key is the hiphops key related to the account you want the automations to run against
  key: "secret_key"
  # keyPath is the path to the hiphops key on the container
  keyPath: "/home/hops/hiphops-key/hiphops.key"
  # hostPort is used to set which port hiphops is accessible via (default: 8196)
  hostPort: 8196
